.btn {
  display: inline-block;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-family: inherit;
  padding-top: 17px;
  padding-bottom: 21px;
  padding-right: 70px;
  padding-left: 71px;
  border: none;
  text-transform: uppercase;
}

.title {
  font-weight: 400;
  font-size: 50px;
  line-height: calc(60 / 50);
  text-align: center;
}

/* header sectoin */
.header-wrap {
  display: flex;
  padding-left: 30px;
}

.header-nav {
  align-items: center;
  display: flex;

  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 20px;
}

.header-logo {
  display: block;
  margin-right: 100px;
}

.additional-wrap {
  padding: 5px 0;
  text-align: center;
  background-color: var(--footer-background-color);
}

.header-info {
  color: var(--white-color);
}

.header-item-link {
  display: block;
  line-height: calc(25 / 18);
  letter-spacing: 0.10998px;
  color: inherit;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
}

.header-button {
  display: inline-block;
  text-align: center;
  padding: 15px 50px;
  border: none;
}