<!-- advantages section -->
<section class="advantages-section">
  <h2 class="advantages-titel title">
    Give your home the connectivity it deserves.
  </h2>
  <p class="advantages-text">
    Say goodbye to dead spots, drop-offs, and buffering-even when the whole
    family is online. With eero, a simple and reliable connection is a given.
    Get a consistently strong signal for streaming, gaming, and working from
    every part of your home.
  </p>
  <img
    src="./images/advantages.jpg"
    width="1008"
    height="569"
    alt="strong signal"
  />
</section>
