<header class="header">
  <div class="container">
    <div class="additional-wrap">
      <a class="header-info" href="#"
        >Free 2-day shipping | 30-day money back guarantee</a
      >
    </div>
    <div class="header-wrap">
      <nav class="header-nav">
        <a class="header-logo" href="#">
          <img class="header-logo-img" src="./images/logo.png" alt="logo" />
        </a>
        <ul class="header-list">
          <li class="header-item">
            <a class="header-item-link" href="#">Products</a>
          </li>
          <li class="header-item">
            <a class="header-item-link" href="#">How it works</a>
          </li>
          <li class="header-item">
            <a class="header-item-link" href="#">Technology</a>
          </li>
          <li class="header-item">
            <a class="header-item-link" href="#">eero Secure</a>
          </li>
          <li class="header-item">
            <a class="header-item-link" href="#">Support</a>
          </li>
          <li class="header-item">
            <a class="header-item-link" href="#">Find your system</a>
          </li>
        </ul>
      </nav>
      <button class="header-button btn" type="button">Shop</button>
    </div>
  </div>
</header>